* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
}

html {
  font-size: 10px;
}

table img{
  width: 7rem;
  border-radius: 3px;
}
body {
  font-family: oswald;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#060505,rgba(98, 5, 5, 0.933),#060505);
}

#NavBar {
  font-size: 1.5rem;
  background: hsl(0, 0%, 4%);
}

#Buttons-Nav {
  color: hsl(0, 0%, 51%);
  font: 1.5rem;
}
#Buttons-Nav,
#btnr,
#btn {
  font-size: 1rem;
}

#btnr {
  color: hsl(0, 0%, 51%);
}

#btnr:hover {
  color: #fff;
}

#btn {
  color: hsl(0, 0%, 51%);
}

#btn:hover {
  color: #fff;
}

#Buttons-Nav:hover {
  color: #f1f1f1;
}
.logaso {
  width: 15rem;
  min-width: 100px;
}

#Button-Menu {
  color: hsl(0, 0%, 51%);
}

#Button-Menu:hover {
  color: #f1f1f1;
}

.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #f1f1f1;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #f1f1f1;
}

.input::placeholder {
  color: hsl(0, 0%, 51%);
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.Text-Border {
  position: absolute;
  background: #f1f1f1;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.Buttons-Nav:hover ~ .Text-Border {
  width: 100%;
}

.sidenav {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 4%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

/* formulario login */
.form-login {
  display: none;
  width: 350px;
  height: 280px;
  padding: 20px;
  background-color: rgb(28, 26, 26);
  position: absolute;
  right: -800px;
  border-top: 5px solid rgb(58, 12, 12);
  box-shadow: 3px 3px 8px #000;
  z-index: 1001;
}

.form-login h3 {
  color: #ddd;
}

.form-login-controls {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border-top: 4px solid rgb(42, 41, 41);
}

.form-login-controls:hover {
  outline: 3px solid rgb(23, 20, 20);
  border-radius: 1px;
}

.form-login p {
  margin: 0;
}

.form-login p a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.form-login p a:hover {
  text-decoration: underline;
}

.form-login-btn {
  width: 100%;
  margin: 22px 0 0 0;
  padding: 2px 4px;
  background-color: rgb(63, 60, 60);
  color: #fff;
  border: none;
}

.form-login-btn:hover {
  border-radius: 5px;
  transition: all 0.3s;
  background-color: rgb(77, 12, 12);
  color: #111;
  font-weight: bold;
}

.mcollapsed {
  display: block;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

/* formulario registro */
.form-register {
  display: none;
  width: 400px;
  height: 380px;
  background: linear-gradient(rgb(28, 26, 26) 80%, rgb(0, 0, 0));
  border-top: 5px solid rgb(103, 14, 7);
  padding: 10px 16px;
  box-shadow: 3px 3px 5px #000;
  color: #aaa;
  position: absolute;
  right: -800px;
  z-index: 1000;
}

.form-register h3 {
  color: #aaa;
}

.form-register__controls {
  width: 100%;
  margin-bottom: 5px;
  color: #000;
}

.form-register__controls:hover {
  border-radius: 5px;
}

.form-register__controls:focus {
  outline: 2px solid rgb(105, 7, 7);
}

.form-register p {
  margin: 8px 0;
}

.form-register p a {
  text-decoration: none;
  color: #ddd;
}

.form-register p a:hover {
  text-decoration: underline;
}

.form-register__btn {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgb(135, 5, 5);
  padding: 4px 40px;
  color: #fff;
}

.form-register__btn:hover {
  border-radius: 2px;
  border: none;
  background-color: rgb(177, 79, 46);
  transition: all 0.2s;
}

.rcollapsed {
  display: block;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.uk-navbar-left {
  position: relative;
  z-index: 5;
}

.sobrenosotros__titulo{
  overflow: hidden;
  color: rgb(104, 14, 14);
  text-align: center;
  font-size: 5rem;
  font-family: oswald;
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(71, 66, 66);
 
}
/* CARDS FLIP */
.flex-conteiner{
  width: 100%;
  height: 100%;
  padding: 20px;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-conteiner{
  width: 500px;
  height: 500px;
  perspective: 1000px;
  margin: 20px 20px;
}
.cards-conteiner .flip-cards-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
}
.cards-conteiner:hover .flip-cards-inner{
  transform: rotateY(180deg);
}
.cards-conteiner .flip-card-front,
.cards-conteiner .flip-card-back{

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.cards-conteiner .flip-card-front{
  background-color: #777;
  color: #Fff;
  object-fit: cover;
  overflow: hidden;
}
.cards-conteiner .flip-card-front img{
  min-width: 100%;
  height: 100%;
}
.cards-conteiner .flip-card-back{
  background-image: linear-gradient(to bottom, #0c0909f6, #000000, #6a1313, #000000, #030202);
  color: #fff;
  transform: rotateY(180deg);
}
.cards-conteiner .flip-card-back h3{
  font-size: 3rem;
  font-weight: bold;
  color: #6a1313;
  text-shadow: 2px 2px 3px rgb(217, 34, 34);
  margin-bottom: 20px;
}
.cards-conteiner .flip-card-back p{
  font-size: 2rem;
  color: rgb(167, 162, 162);
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(213, 186, 186);

}

/* CARDS FLIP */
