*{
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Calibri,sans-serif;
    background-color: #222222; 
}
header{
    width: 100%;
    height: 97px;
}
#NavBar {
    background: hsl(0, 0%, 4%);
    height: 100%;
}

#Buttons-Nav {
    color: hsl(0, 0%, 51%);
}
#btnr{
    color: hsl(0, 0%, 51%);
}
#btnr:hover{
    color: #fff;
}
#btn {
    color: hsl(0, 0%, 51%);
}
#btn:hover{
    color: #fff;
}
#Buttons-Nav:hover {
    color: #f1f1f1;
}

#Button-Menu {
    color: hsl(0, 0%, 51%);
}

#Button-Menu:hover {
    color: #f1f1f1;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: 0.2rem 0;
    outline: none;
    background-color: transparent;
    color: #f1f1f1;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border-color: #f1f1f1;
}

.input::placeholder {
    color: hsl(0, 0%, 51%);
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s;
}

.Text-Border {
 position: absolute;
 background: #f1f1f1;
 width: 0%;
 height: 2px;
 bottom: 0;
 left: 0;
 transition: 0.3s;
}

.Buttons-Nav:hover ~ .Text-Border {
 width: 100%;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 4%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    text-decoration: none;
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
/* formulario login */
.form-login{  
    width: 350px;
    height: 280px;
    padding: 20px;
    background-color:rgb(28, 26, 26);
    position: absolute;
    right: -800px;
    border-top: 5px solid rgb(58, 12, 12);
    box-shadow: 3px 3px 8px #000;
    z-index: 1001;
}
.form-login h3{
 color: #ddd;
}
.form-login-controls{
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border-top: 4px solid rgb(42, 41, 41);
}
.form-login-controls:hover{
    outline: 3px  solid rgb(23, 20, 20);
    border-radius:1px;
}
.form-login p{
    margin:0;
}
.form-login p a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.form-login p a:hover{
    text-decoration: underline;
}
.form-login-btn{
    width: 100%;
    margin:22px 0 0 0;
    padding: 2px 4px;
    background-color: rgb(63, 60, 60);
    color: #Fff;
    border: none;
   
}
.form-login-btn:hover{
    border-radius: 5px;
    transition: all .3s;
    background-color: rgb(77, 12, 12);
    color: #111;
    font-weight: bold;
}
.mcollapsed{
    right:300px;
    transition: all .2s ease-in-out;
}
/* formulario registro */
.form-register{
    width: 400px;
    height: 380px;
    background:linear-gradient(rgb(28, 26, 26)80%,rgb(0, 0, 0));
    border-top: 5px solid rgb(30, 27, 70);
    padding:10px 16px;
    box-shadow: 3px 3px 5px #000;
    color: #aaa;
    position: absolute;
    right: -800px;
    z-index: 1000;
}
.form-register h3{
    color: #aaa;
}
.form-register__controls{
    width: 100%;
    margin-bottom: 5px;
   color: #000;
}
.form-register__controls:hover{
    border-radius: 5px;
}
.form-register__controls:focus{
    outline:2px solid rgb(30, 7, 105);
}
.form-register p{
    margin: 8px 0;
}
.form-register p a{
    text-decoration: none;
    color: #ddd;
}
.form-register p a:hover{
    text-decoration: underline;  
}
.form-register__btn{
    width: 100%;
    margin-bottom:5px;
    background-color:rgb(43, 21, 132);
    padding: 4px 40px;
    color: #fff;
}
.form-register__btn:hover{
    border-radius: 2px;
    border: none;
    background-color:rgb(46, 99, 177) ;
    transition: all .2s;
}
.rcollapsed{
    top: 100px;
    right:0;
    bottom: 0;
    left:0;
    margin: auto;
    transition: all .2s ease-in-out;
}
main{
    background-color: #222222; 
    width: 100vw;
    padding: 10px;
}
.seccion__uno{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
/* estilos carrousel */
.carrousel__conteiner{
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 55%;
    height: 550px;
    background-color:#383838; 
    margin-top: 100px;
    margin-right:20px;
}
.carrousel__title{
    font-family: oswald;
    font-size: 45px;
    color: #fff;
    overflow: hidden;
}
/* estilos carrousel */
/* estilos de los mas vistos */

.top-conteiner{
    max-width:45%;
}
.top {
    font-family: oswald;
      font-size: 70px;
      color: #fff;
      text-align: center;
    
    }
    .music {
      list-style: none;
      background: #383838;
      padding: 10px;
      margin-left: -25px;
      font-family: oswald;
      color: #ffffff;
      width: 100%;
      font-size: 20px;
    }
    .music:nth-child(odd) {
      background: #383838;
      color:#ffffff;
    }
    .sub {
      font-size: 30px;
      margin-top: -20px;
      color: #ffffff;
      letter-spacing: 15px;
    }
    .title {
      color: #fff;
      font-family: oswald;
      font-size: 30px;
      padding: 10px;

    }
    .body {
      width: 100%;
      padding-bottom: 20px;
      background: #383838;
      margin-left: auto;
      margin-right: auto;
    }
    @font-face {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
    }
/* estilos de los mas vistos */
@media screen  and (max-width:600px) {
 .mcollapsed{
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
 }   
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

