<<<<<<< HEAD


=======
body{
    font-family: Calibri,sans-serif;
}
header{
    width: 100%;
    min-height: 500px;
}
>>>>>>> 61c781eb1bbe2685ac8967e6806c74135beadd64

/* NavBar */

#NavBar {
    background: hsl(0, 0%, 4%);
}

#Buttons-Nav {
    color: hsl(0, 0%, 51%);
}
#button-login {
    color:hsl(0, 0%, 100%);
}

#Buttons-Nav:hover {
    color: #f1f1f1;
}

#Button-Menu {
    color: hsl(0, 0%, 51%);
}

#Button-Menu:hover {
    color: #f1f1f1;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: 0.2rem 0;
    outline: none;
    background-color: transparent;
    color: #f1f1f1;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border-color: #f1f1f1;
}

.input::placeholder {
    color: hsl(0, 0%, 51%);
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s;
}

.Text-Border {
    position: absolute;
    background: #f1f1f1;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.Buttons-Nav:hover ~ .Text-Border {
    width: 100%;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 4%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    text-decoration: none;
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
/* formulario */
.form-login{  
    width: 350px;
    height: 280px;
    padding: 20px;
    background-color:rgb(28, 26, 26);
    position: absolute;
    right: -800px;
    border-top: 5px solid rgb(58, 12, 12);
    box-shadow: 3px 3px 8px #000;
}
.form-login h3{
 color: #ddd;
}
.form-login-controls{
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border-top: 4px solid rgb(42, 41, 41);
}
.form-login-controls:hover{
    outline: 3px  solid rgb(23, 20, 20);
    border-radius:1px;
}
.form-login p{
    margin:0;
}
.form-login p a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.form-login p a:hover{
    text-decoration: underline;
}
.form-login-btn{
    width: 100%;
    margin:22px 0 0 0;
    padding: 2px 4px;
    background-color: rgb(63, 60, 60);
    color: #Fff;
    border: none;
   
}
.form-login-btn:hover{
    border-radius: 5px;
    transition: all .3s;
    background-color: rgb(77, 12, 12);
    color: #111;
    font-weight: bold;
}
.mcollapsed{
    right:300px;
    transition: all .2s ease-in-out;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*NavBar*/