* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
}

html {
  font-size: 10px;
}

table img{
  width: 7rem;
  border-radius: 3px;
}
body {
  font-family: oswald;
  background-color: #222222;
}

#NavBar {
  font-size: 1.5rem;
  background: hsl(0, 0%, 4%);
}

#Buttons-Nav {
  color: hsl(0, 0%, 51%);
  font: 1.5rem;
}
#Buttons-Nav,
#btnr,
#btn {
  font-size: 1rem;
}

#btnr {
  color: hsl(0, 0%, 51%);
}

#btnr:hover {
  color: #fff;
}

#btn {
  color: hsl(0, 0%, 51%);
}

#btn:hover {
  color: #fff;
}

#Buttons-Nav:hover {
  color: #f1f1f1;
}
.logaso {
  width: 15rem;
  min-width: 100px;
}

#Button-Menu {
  color: hsl(0, 0%, 51%);
}

#Button-Menu:hover {
  color: #f1f1f1;
}

.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #f1f1f1;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #f1f1f1;
}

.input::placeholder {
  color: hsl(0, 0%, 51%);
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.Text-Border {
  position: absolute;
  background: #f1f1f1;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

.Buttons-Nav:hover ~ .Text-Border {
  width: 100%;
}

.sidenav {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 4%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

/* formulario login */
.form-login {
  display: none;
  width: 350px;
  height: 280px;
  padding: 20px;
  background-color: rgb(28, 26, 26);
  position: absolute;
  right: -800px;
  border-top: 5px solid rgb(58, 12, 12);
  box-shadow: 3px 3px 8px #000;
  z-index: 1001;
}

.form-login h3 {
  color: #ddd;
}

.form-login-controls {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border-top: 4px solid rgb(42, 41, 41);
}

.form-login-controls:hover {
  outline: 3px solid rgb(23, 20, 20);
  border-radius: 1px;
}

.form-login p {
  margin: 0;
}

.form-login p a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.form-login p a:hover {
  text-decoration: underline;
}

.form-login-btn {
  width: 100%;
  margin: 22px 0 0 0;
  padding: 2px 4px;
  background-color: rgb(63, 60, 60);
  color: #fff;
  border: none;
}

.form-login-btn:hover {
  border-radius: 5px;
  transition: all 0.3s;
  background-color: rgb(77, 12, 12);
  color: #111;
  font-weight: bold;
}

.mcollapsed {
  display: block;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

/* formulario registro */
.form-register {
  display: none;
  width: 400px;
  height: 380px;
  background: linear-gradient(rgb(28, 26, 26) 80%, rgb(0, 0, 0));
  border-top: 5px solid rgb(103, 14, 7);
  padding: 10px 16px;
  box-shadow: 3px 3px 5px #000;
  color: #aaa;
  position: absolute;
  right: -800px;
  z-index: 1000;
}

.form-register h3 {
  color: #aaa;
}

.form-register__controls {
  width: 100%;
  margin-bottom: 5px;
  color: #000;
}

.form-register__controls:hover {
  border-radius: 5px;
}

.form-register__controls:focus {
  outline: 2px solid rgb(105, 7, 7);
}

.form-register p {
  margin: 8px 0;
}

.form-register p a {
  text-decoration: none;
  color: #ddd;
}

.form-register p a:hover {
  text-decoration: underline;
}

.form-register__btn {
  width: 100%;
  margin-bottom: 5px;
  background-color: rgb(135, 5, 5);
  padding: 4px 40px;
  color: #fff;
}

.form-register__btn:hover {
  border-radius: 2px;
  border: none;
  background-color: rgb(177, 79, 46);
  transition: all 0.2s;
}

.rcollapsed {
  display: block;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
}

.uk-navbar-left {
  position: relative;
  z-index: 5;
}

/* main */

main {
  background: linear-gradient(#222222, #383838, #4a1414);
  width: 100%;
  padding: 10px;
}

/* estilos carrousel */
.carrousel__conteiner {
  order: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#383838, rgb(47, 46, 46));
  border: 4px solid #4a1414;
  border-radius: 5px;
}
.carrousel__title {
  font-family: oswald;
  font-size: 45px;
  color: #fff;

}
img {
  max-width: 100%;
  height: auto;
}

/* estilos carrousel */
/* estilos de los mas vistos */

.top-conteiner {
  order: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top {
  display: block;
  font-family: oswald;
  font-size: 70px;
  color: #fff;
  text-align: center;
}
.top_ul {
  display: flex;
  flex-direction: column;

  background: #383838;
}
.music {
  background: #383838;
  margin-bottom: 10px;
  font-family: oswald;
  font-size: 80px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 25px;
}
.audio {
  display: block;
  width: 100%;
  border: 3px solid rgb(112, 22, 20);
  border-radius: 27px;
}

.body {
  border: 4px solid #4a1414;
  border-radius: 5px;
  background: linear-gradient(#383838, rgb(47, 46, 46));
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff)
      format("woff");
}

/* estilos de los mas vistos */

/* estilos del crud */

.crud-body {
  background-color: #222;
}
.catalogo-title {
  overflow: hidden;
  color: #ddd;
  text-align: center;
  font-size: 4rem;
  font-family: oswald;
}
.crud-subtitle {
  color: #ffff;
  font-family: oswald;
  font-size: 3rem;
  overflow: hidden;
}
/* formulario de subida de archivos */
.form-subir-body {
  overflow: hidden;
  position: absolute;
  height: 350px;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  margin: auto;
  display: none;
  z-index: 4000;
  font-family: oswald;
  background-color: #5c1a1a;
  width: 300px;
  padding: 10px;
  border: 4px solid #111;
}
.form-subir-body h3 {
  font-size: 2rem;
  font-family: oswald;
  color: #ddd;
}
.form-subir-controls {
  width: 100%;
  padding: 3px;
  margin-bottom: 8px;
}
.form-subir-controls:hover {
  border-radius: 0px;
}
.form-subir-btn {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: #333;
  color: #fff;
}
.form-subir-btn:hover {
  border-radius: 0;
  background-color: #444;
  border: 2px solid #777;
}
.form-subir-collapsed {
  display: block;
}
.form-reset-btn {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: #333;
  color: #fff;
}
.form-reset-btn:hover {
  border-radius: 0;
  background-color: #444;
  border: 2px solid #777;
}

/* formulario de subida de archivos */
/* estilos de las  cards */
.crud-card-body {
  overflow: hidden;
  box-shadow: 2px 2px 4px 1px rgb(67, 61, 61);
  border-radius: 10px;
  border: 4px solid rgb(35, 33, 33);
  max-width: 18rem;
  height: 350px;
  background: rgb(0, 0, 0);
}
.crud-img-conteiner {
  height: 50%;
}
.crud-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crud-card-body h4 {
  color: #ddd;
  margin-bottom: 5px;
  font-size: 2rem;
  font-family: oswald;
}
.crud-card-body p {
  margin: 10px 0 15px 0;
  color: #d35555;
}
.crud-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  color: #ddd;
  font-family: oswald;
}

/* BOTON Y ANIMACION DE CARRITO */
.crud-card-btn {
  position: relative;
  padding: 4px;
  width: 62%;
  height: 50px;
  border: 2px solid #503636;
  border-radius: 5px;
  background-color: #6e1e1e;
  outline: none;
  cursor: pointer;
  color: #222;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.crud-card-btn:hover {
  background-color: #892727a3;
  color: rgb(141, 131, 131);
  transition: 0.2s;
}
.crud-card-btn:active {
  transform: scale(0.9);
}

.crud-card-btn .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}
.crud-card-btn .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 1.2em;
  transform: translate(-50%, -50%);
}
.crud-card-btn span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #fff;
  transform: translate(-50%, -50%);
}
.crud-card-btn span.add-to-cart {
  opacity: 1;
}
.crud-card-btn span.added {
  opacity: 0;
}

.crud-card-btn.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}
.crud-card-btn.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}
.crud-card-btn.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.crud-card-btn.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* BOTON Y ANIMACION DE CARRITO */

/* boton de submenu */
.icono-card-menu {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background-color: #fff;
}
/* boton de submenu */
/* estilos de las  cards */

/* BOTON FLOTANTE DE SUBIR  */

button {
  border: none;
  outline: none;
}

.wrapper {
  position: fixed;
  bottom: 40px;
  right: 70px;
  margin: auto;
  padding: 50px 0;
  width: 60px;
  height: 75px;
  overflow: hidden;
  z-index: 3;
}

.circle {
  border-radius: 50%;
  height: 50px;
  width: 60px;
  background-color: #b51818;
  opacity: 0.5;
  transition: 0.2s;
}

img {
  margin: auto;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.circle:hover,
.circle:focus {
  cursor: pointer;
}

/* BOTON FLOTANTE DE SUBIR */

/* estilos del crud */
@media screen and (max-width: 600px) {
  .mcollapsed {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
    .logaso {
        width: 10rem;
        min-width: 100px;
      }
  }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
 
}
